<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>WeblogicScan</title>
<link rel="shortcut icon" href="static/images/AboutU.ico">
</head>
<body>
<div align=center><img src="static/images/WeblogicScan.jpg" width="30%"></div>
<div align="center">
<h1>WeblogicScan</h1>
<h3>提供Weblogic系列漏洞一站扫描</h3>
</div>
<div align="center"><h3>再乱输打屎你个瓜娃子!</h3></div>
</body>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<footer>
<div align=center>Copyright © 2019 Power by <a href="https://rabbitmask.github.io">RabbitMask</a></div>
</footer>
</html>