<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>WeblogicScan</title>
<link rel="shortcut icon" href="static/images/AboutU.ico">
</head>
<div align=center><img src="static/images/WeblogicScan.jpg" width="60%"></div>
<body>
<div align="center">
<h1>WeblogicScan</h1>
<h3>提供Weblogic系列漏洞一站扫描</h3>
<form action="/WeblogicScan" method="get">
<p><button type="submit">【开启·邪王真眼】</button></p>
</form>
</div>
</body>
<br><br><br><br><br>
<footer>
<div align=center>Copyright © 2019 Power by <a href="https://rabbitmask.github.io">RabbitMask</a></div>
</footer>
</html>